{% extends "web/partials/main.html.twig" %}

{% block main_div %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            {% block word_title %}
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-pills">
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::NEWONE') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::NEWONE')}) }}" class="btn btn-sm">{{ 'new'|trans|capitalize }}</a></li>
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::EASY') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::EASY')}) }}" class="btn btn-sm">{{ 'easy'|trans|capitalize }}</a></li>
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::MEDIUM') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::MEDIUM')}) }}" class="btn btn-sm">{{ 'medium'|trans|capitalize }}</a></li>
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::DIFFICULT') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::DIFFICULT')}) }}" class="btn btn-sm">{{ 'difficult'|trans|capitalize }}</a></li>
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::RARE') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::RARE')}) }}" class="btn btn-sm">{{ 'rare'|trans|capitalize }}</a></li>
                            <li {% if status == constant('Eng\\Core\\Repository\\Entity\\WordsEntity::ALL') %}class="active"{% endif %}><a href="{{uri.router('words', 'list', {status: constant('Eng\\Core\\Repository\\Entity\\WordsEntity::ALL')}) }}" class="btn btn-sm">{{ 'all'|trans|capitalize }}</a></li>
                            <li style="float:right">
                                <form class="navbar-form navbar-right" action="/words/search" method="post">
                                    <div class="form-group">
                                        <input type="text" name="key" placeholder="{{ 'search word'|trans }}" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-success">{{ 'Search'|trans }}</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include "web/partials/paginator.default.twig" %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <!-- Table -->
        <table class="table eng-table">
            <!--thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Username</th>
                <th>Username</th>
              </tr>
            </thead-->
            <tbody>
                {% for word in paginator %}
                    <tr class="word-tr">
                        <th scope="row" width="15%"><a href="http://dict.youdao.com/search?q={{ word.name }}" target="youdao_from_list">{{ word.name }}</a></th>
                        <td width="10%">[{{ word.pronunciation }}]</td>
                        <td>
                            <div class="eng-means invisible">
                                <div class="eng-word">{{ word.means }}</div>
                                <input class="word-voice" type="hidden" value="{{ word.voice }}"/>
                                <input class="word-id" type="hidden" value="{{ word.id }}"/>
                                <div class="means-edit-div invisible">
                                    <button type="button" class="means-edit btn btn-info btn-sm">{{ 'edit'|trans|capitalize }}</button>
                                    <button type="button" class="means-save hidden btn btn-info btn-sm">{{ 'save'|trans|capitalize }}</button>
                                    <button type="button" class="means-cancel hidden btn btn-info btn-sm">{{ 'cancel'|trans|capitalize }}</button>
                                </div>
                                <textarea class="means-textarea hidden green" rows="2" cols="60">{{ word.means }}</textarea>
                            </div>
                        </td>
                        <td width="10%">
                            <div class="btn-group btn-group-xs status-dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="status-text">{{ attribute(statusString, word.status) }}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="min-width:80px;">
                                <li><a href="#{{ constant('Eng\\Core\\Repository\\Entity\\WordsEntity::DIFFICULT') }}">{{ 'difficult' |trans|capitalize }}</a></li>
                                <li><a href="#{{ constant('Eng\\Core\\Repository\\Entity\\WordsEntity::NEWONE') }}">{{ 'new'|trans|capitalize }}</a></li>
                                <li><a href="#{{ constant('Eng\\Core\\Repository\\Entity\\WordsEntity::EASY') }}">{{ 'easy'|trans|capitalize }}</a></li>
                                <li><a href="#{{ constant('Eng\\Core\\Repository\\Entity\\WordsEntity::MEDIUM') }}">{{ 'medium'|trans|capitalize }}</a></li>
                                <li><a href="#{{ constant('Eng\\Core\\Repository\\Entity\\WordsEntity::RARE') }}">{{ 'rare'|trans|capitalize }}</a></li>
                                </ul>
                            </div>
                            <span class="glyphicon glyphicon-download hand" title="{{ "Change voice"|trans }}"></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if paginator|length > 20 %}
        <div class="panel-footer">
            {{ block('word_title') }}
        </div>
        {% endif %}
    </div>
<audio id="audio" style="display: none"></audio>
{% endblock %}

{% block main_js %}
<script>
    $(function () {
        var wordList = {
            currentWordDiv: null,
            allTr: $('.word-tr'),
            currentTr: null,
            cancelEdit: function (mainDiv) {
                mainDiv = $(mainDiv);
                mainDiv.find('.eng-word').removeClass('hidden');
                mainDiv.find('.means-edit-div').addClass('invisible');
                mainDiv.find('.means-textarea').addClass('hidden');
                mainDiv.find('.means-edit').removeClass('hidden');
                mainDiv.find('.means-save').addClass('hidden');
                mainDiv.find('.means-cancel').addClass('hidden');
            },
            saveWord: function (mainDiv) {
                var means = mainDiv.find('.means-textarea').val();
                var wordId = mainDiv.find('.word-id').val();

                mainDiv.find('.means-save').addClass('disabled').prop('disabled', true);
                mainDiv.find('.means-cancel').addClass('disabled').prop('disabled', true);

                $.getJSON('{{ uri.router(null, 'saveWord') }}?means=' + encodeURIComponent(means) + '&word_id=' + wordId, function (json) {
                    if (json.status == 0) {
                        EngUtil.showMessage('{{ 'Record Saved'|trans }}', 2);
                        mainDiv.find('.eng-word').html(means);
                        wordList.cancelEdit(mainDiv);
                    } else {
                        EngUtil.showAlert('{{ 'Record Save Failed!'|trans }}');
                    }
                }).always(function () {
                    mainDiv.find('.means-save').removeClass('disabled').prop('disabled', false);
                    mainDiv.find('.means-cancel').removeClass('disabled').prop('disabled', false);
                });
            },
            init: function () {
                $('.status-dropdown a').on('click', function () {
                    var status = this.href.replace(/.*#/, '');
                    var tr = $(this).closest('tr');
                    var wordId = tr.find('.word-id').val();
                    var statusName = this.text;
                    var textObj = tr.find('.status-text');
                    if (statusName == textObj.text()) {
                        return;
                    }
                    textObj.text('....');
                    $.getJSON('{{ uri.router(null, 'changeStatus') }}?status=' + status + '&word_id=' + wordId, function (json) {
                        if (json.status == 0) {
                            textObj.text(statusName);
                        }
                    });
                });

                $('.eng-means').parent().mouseover(function () {
                    $('.eng-means').removeClass('invisible');
                }).mouseout(function () {
                    $('.eng-means').addClass('invisible');
                }).click(function (event) {
                    if (event.target.tagName != 'DIV') {
                        return;
                    }

                    if (wordList.currentWordDiv != null && wordList.currentWordDiv != this) {
                        wordList.cancelEdit(wordList.currentWordDiv);
                    }

                    wordList.currentWordDiv = this;
                    wordList.currentTr = $(this).closest('tr');
                    var voice = wordList.currentTr.find('.word-voice').val();
                    $('#audio').attr('src','/voice/words/' + voice);
                    $('#audio')[0].volume = 1;
                    $('#audio')[0].play();

                    $('.means-edit-div').not('.invisible').addClass('invisible');

                    $(this).find('.means-edit-div').removeClass('invisible');

                    $('.td-highlight').removeClass('td-highlight');
                    $(this).addClass('td-highlight');

                    word	= $(this).find('input').val();
                    word	= word.substr(2,word.length-6);
                    location.hash	= '#'+word;
                });

                $('.means-edit').click(function () {
                    var mainDiv = $(this).closest('.eng-means');
                    mainDiv.find('.eng-word').addClass('hidden');
                    mainDiv.find('.means-textarea').removeClass('hidden');
                    mainDiv.find('.means-edit').addClass('hidden');
                    mainDiv.find('.means-save').removeClass('hidden');
                    mainDiv.find('.means-cancel').removeClass('hidden');
                });

                $('.means-cancel').click(function () {
                    wordList.cancelEdit($(this).closest('.eng-means')[0]);
                });

                $('.means-save').click(function () {
                    var mainDiv = $(this).closest('.eng-means');
                    wordList.saveWord(mainDiv);
                });


                wordList.currentTr = wordList.allTr.first();
                wordList.currentTr.find('.eng-means').click();
                $(document).keydown(function(e){
                    if ($('.means-textarea').not('.hidden').length > 0) { // In edit mode
                        return;
                    }
                    switch(e.keyCode){
                        case 37://<-
                            if (wordList.currentTr.prev().length > 0) {
                                wordList.currentTr = wordList.currentTr.prev();
                            } else {
                                return;
                            }
                            break;
                        case 40:// down
                            return true;
                        case 39://->
                            if (wordList.currentTr.next().length > 0) {
                                wordList.currentTr = wordList.currentTr.next();
                            } else {
                                return;
                            }
                            break;
                        case 13://enter
                            break;
                        case 51://
                            return true;
                        default:
			    return true;
                    }
                    wordList.currentTr.find('.eng-means').click();
                });

                $(document).on('keydown','#sch',function(e){


                });

                $('.glyphicon-download').click(function () {
                    var currentTr = $(this).closest('tr');
                    var voiceObj = currentTr.find('.word-voice');
                    var id = currentTr.find('.word-id').val();
                    $.getJSON('{{ uri.router(null, 'voice') }}?id=' + id , function (json) {
                        if (json.status == 0) {
                            EngUtil.showMessage('{{ 'Voice updated'|trans }}', 2);
                            voiceObj.val(json.data.voice);
                            currentTr.find('.eng-means').click();
                        } else if (json.status == 1){
                            EngUtil.showAlert('{{ 'Voice update is failed!'|trans }}');
                        } else {
                            EngUtil.showAlert('{{ 'Unknow Error'|trans }}');
                        }
                    }).fail(function () {
                        EngUtil.showAlert('{{ 'Request Server Error!'|trans }}');
                    })
                });
            }
        }
        wordList.init();
    });
</script>
{% endblock %}