{% if paginator.pageSize() < paginator.getTotalItems() %}
    <ul class="pagination pagination-sm eng-page">
    <li>
        {% if paginator.getCurrentPage() == 1 %}
            <span aria-hidden="true"><<</span>
            <span aria-hidden="true"><</span>
        {% else %}
            <a href="{{ uri.replaceUrl({page:1}) }}" aria-label="Previous">
                <span aria-hidden="true"> << </span>
            </a>
            <a href="{{ uri.replaceUrl({page:paginator.getFirstPage() - 5}) }}" aria-label="Previous">
                <span aria-hidden="true"> < </span>
            </a>
        {% endif %}
    </li>
    {% for i in range(low=paginator.getFirstPage(), high=paginator.getLastPage(), step=1) %}
        {% if i == paginator.getCurrentPage() %}
            <li class="active"><a href="#">{{ i }}</a></li>
            {% else %}
            <li><a href="{{ uri.replaceUrl({page:i}) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    <li>
        {% if paginator.getLastPage() >= paginator.getTotalPage() %}
            <span aria-hidden="true"> > </span>
            <span aria-hidden="true"> >> </span>
        {% else %}
            <a href="{{ uri.replaceUrl({page: paginator.getLastPage() + 1}) }}" aria-label="Next">
                <span aria-hidden="true"> > </span>
            </a>
            <a href="{{ uri.replaceUrl({page: paginator.getTotalPage()}) }}" aria-label="Next">
                <span aria-hidden="true"> >> </span>
            </a>
        {% endif %}
    </li>
</ul>
{% endif %}